{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Gaia</h1>
        <p class="lead">A Text-Based Universe</p>
        <hr class="my-4">
        <p>Connecting people and places!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
</div>
{% endblock %}