{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Register{% endblock %}

{% block content %}
    <br/>
    <br/>
    <br/>

    <div class="card">
        <div class="card-body">
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
{% endblock %}